.DS_Store

#file with secret
servicekey.json

loadbalancer

backoffice
publisher-panel
studio
landing
client2
gohan

# Services
tag-manager-service
user-service
sherlock-service
email-service
adserver-proxy-service
tagging-service
event-service
error-service
aggregation-service
topurls-service
event-bigdata-service
analytics-service
adserver-report-extraction-task

# Other repositories
user-middleware
systems
webpack-dev-server
seedtag-node-logger
seedtag-request
docker-images

angular2-boilerplate
angular2-datatable
angular2-data-table

# Old repositories
hoe
environment
client
web
chrome-extension
