.DS_Store

#file with secret
servicekey.json

loadbalancer

backoffice
publisher-panel
studio
landing
client2
gohan
gohan-tests

# Services
tag-manager-service
user-service
sherlock-service
email-service
adserver-proxy-service
tagging-service
event-service
error-service
aggregation-service
topurls-service
event-bigdata-service
analytics-service
adserver-report-extraction-task
watson-service
boilerplate-service
boilerplate-swagger-service
campaign-service

# Other repositories
user-middleware
systems
webpack-dev-server
seedtag-node-logger
seedtag-request
docker-images
seedtag-queue
express-prom-bundle

angular2-boilerplate
seedtag-ui2
ng2-components
angular-2-dropdown-multiselect
eslint-config-seedtag-base

# Old repositories
hoe
environment
client
web
chrome-extension

docker-compose.override.yml

# IDES
.idea
