.article-item {
  &__container {
    background: #e1e1e1;
    padding: 5px 10px;
    margin-bottom: 15px;
  }
}

.article-form {
  margin-top: 15px;
  margin-bottom: 15px;
  
  input {
    margin-bottom: 10px;
  }

  &__group {
    margin-bottom: 15px;
  }
}

.bg-success {
  background-color: #5cb85c!important;  
}